@import "~antd/dist/antd.css";

* {
	box-sizing: border-box !important;
}
.ant-layout-header {
	background: #ffffff;
}
.koompi-logo {
	width: auto;
	height: 60px;
	padding: 10px;
}
.shrink {
	width: calc(100vw - 200px);
}
.expand {
	width: calc(100vw - 80px);
}
.site-layout {
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	transition: 100ms linear;
}
.site-layout-background {
	z-index: 999;
	background: #fff;
}
div > p > img {
	width: 100% !important;
}
#components-layout-demo-top-side-2 .logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px 28px 16px 0;
	float: left;
}
.ant-menu-item,
.ant-menu-item *,
.ant-menu-submenu,
.ant-menu-submenu * {
	vertical-align: middle;
}

.alltabs {
	min-height: 80vh;
	padding: 20px;
	background: #ffffff;
}
.mde img {
	width: auto;
}

ul.ant-menu.ant-menu-sub.ant-menu-inline
	> li.ant-menu-item.ant-menu-item-only-child {
	padding-left: 35px !important;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
	padding: 0;
}
.ant-form-item-label {
	text-align: left;
}
